@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background: linear-gradient(45deg, #8500ff, #5acaff);
    height: 100vh;
}

#container
{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/p404.png'), #151729;
    box-shadow: 0 15px 30px rgba(0,0,0,.5);
}

.content
{
    max-width: 600px;
    text-align: center;
}
.h2
{
    font-size: 20rem;
    color: #fff;
    line-height: 1em;
}
.h4
{
    position:relative;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #111;
    background: #fff;
    font-weight: 300;
    padding: 10px 20px;
    display: inline-block;
}
.p
{
    color: #fff;
    font-size: 1.2em;
}
.a
{
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    background: #ff0562;
    color: #fff;
    text-decoration: none;
    margin-top: 25px;
    border-radius: 25px;
    border-bottom: 4px solid #d00d56;
}
